

        <!-- Courses -->
        <h1 style="margin-top: 50px" />
        <div class="coursesWholeScreen">

            <div class="courseNavigator">
                <button>IT</button>
                <button>Bussiness</button>
                <button>Personal Development</button>
                <button>Designing</button>
                <button>Marketing</button>
                <button>Health & Fitness</button>
                <button>Music</button>
            </div>
            

            
            <div class="courseContainer">
                <div class="videoIframeLink">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_k_c9nqzKN0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="videoDescr">
                    <h1 class="lectureName">Heap in one video</h1>
                    <h1 class="instructorName">Instructor:Aditya Verma</h1>
                    <h1 class="descriptionOfVideo">
                        Are you worried about placements/internships? Want to prepare for companies like Microsoft, Amazon & Google? Join the course.
                    </h1>
                    <a href="https://youtu.be/_k_c9nqzKN0" target="_blank" rel="noopener noreferrer" class="openInNewTab">Open in new tab</a>
                </div>
            </div>


            <!-- Testing -->
            <div class="courseContainer">
                <div class="videoIframeLink">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_k_c9nqzKN0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="videoDescr">
                    <h1 class="lectureName">Heap in one video</h1>
                    <h1 class="instructorName">Instructor:Aditya Verma</h1>
                    <h1 class="descriptionOfVideo">
                        Are you worried about placements/internships? Want to prepare for companies like Microsoft, Amazon & Google? Join the course.
                    </h1>
                    <a href="https://youtu.be/_k_c9nqzKN0" target="_blank" rel="noopener noreferrer" class="openInNewTab">Open in new tab</a>
                </div>
            </div>
            <div class="courseContainer">
                <div class="videoIframeLink">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_k_c9nqzKN0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="videoDescr">
                    <h1 class="lectureName">Heap in one video</h1>
                    <h1 class="instructorName">Instructor:Aditya Verma</h1>
                    <h1 class="descriptionOfVideo">
                        Are you worried about placements/internships? Want to prepare for companies like Microsoft, Amazon & Google? Join the course.
                    </h1>
                    <a href="https://youtu.be/_k_c9nqzKN0" target="_blank" rel="noopener noreferrer" class="openInNewTab">Open in new tab</a>
                </div>
            </div>
            <div class="courseContainer">
                <div class="videoIframeLink">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_k_c9nqzKN0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="videoDescr">
                    <h1 class="lectureName">Heap in one video</h1>
                    <h1 class="instructorName">Instructor:Aditya Verma</h1>
                    <h1 class="descriptionOfVideo">
                        Are you worried about placements/internships? Want to prepare for companies like Microsoft, Amazon & Google? Join the course.
                    </h1>
                    <a href="https://youtu.be/_k_c9nqzKN0" target="_blank" rel="noopener noreferrer" class="openInNewTab">Open in new tab</a>
                </div>
            </div>
            <div class="courseContainer">
                <div class="videoIframeLink">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_k_c9nqzKN0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="videoDescr">
                    <h1 class="lectureName">Heap in one video</h1>
                    <h1 class="instructorName">Instructor:Aditya Verma</h1>
                    <h1 class="descriptionOfVideo">
                        Are you worried about placements/internships? Want to prepare for companies like Microsoft, Amazon & Google? Join the course.
                    </h1>
                    <a href="https://youtu.be/_k_c9nqzKN0" target="_blank" rel="noopener noreferrer" class="openInNewTab">Open in new tab</a>
                </div>
            </div>
            <div class="courseContainer">
                <div class="videoIframeLink">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_k_c9nqzKN0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="videoDescr">
                    <h1 class="lectureName">Heap in one video</h1>
                    <h1 class="instructorName">Instructor:Aditya Verma</h1>
                    <h1 class="descriptionOfVideo">
                        Are you worried about placements/internships? Want to prepare for companies like Microsoft, Amazon & Google? Join the course.
                    </h1>
                    <a href="https://youtu.be/_k_c9nqzKN0" target="_blank" rel="noopener noreferrer" class="openInNewTab">Open in new tab</a>
                </div>
            </div>



        </div>

    </body>
</html>